body{
	background-color:white;
	color:#404040;
	font-size:11pt;
	font:Georgia, Garamond;
	background-image: url("../images/silverware.jpg");
	background-repeat:repeat;
	margin: auto;
	max-width:800px;
	
}

img {
	width:200px;
	height: 200px;
}

.bold{
	font-weight: bold;
}

.heading{
	background-color:#F0F0F0;
	color: #A4A400;
	font:"Lucida Sans Unicode", Helvetica, Arial;
	text-align: left;
	font-size:18pt;
	font-weight:normal;
	text-decoration: underline;
}

.main{
	text-align: center;
	font-size: 22pt;
	font-weight: bold; 
	
}

.comments{
	background-color: #F5ee5f;
 }

a {
    color: #A4A400;
}